
parameters:
    # Path on the website (if not in webroot)
    path: /

    # Available domain names
    domain:
        # (Language) domains
        cz: fykos.cz
        org: fykos.org

        # Default top level domain
        tld: cz

        # Main domain
        host: fykos

    # Available subdomains
    subdomain:
        # Central authentication domain for SSO.
        auth: auth

        # Main domain for the application.
        db: db

    # Pipe-separated list of presenters w/out module
    rootPresenters: settings|github|my-payment

    # Pipe-separated list of modules
    modules: org|public

    # Pipe-separated list of contest names
    contests: fykos|vyfuk



